<div class="image_cover">
    <%= image_tag  "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg/1280px-Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg" %>
</div>
<div class="user_info">
    <div class="image">
        <% if current_user.avatar %> 
            <%= image_tag  current_user.avatar %>
        <% else %>
            <%= image_tag  "no-profile-picture.jpg" %>
        <% end %>
    </div>
    <div>
        <strong>Nome:</strong> <%= current_user.name %> 
        <br>
        <strong>Email:</strong> <%= current_user.email %>
        <br>
        <strong>Role:</strong> <%= current_user.admin %>  
    </div>
    <div>
        <%= link_to  "Edit Profile", edit_user_path, class: "btn btn-primary" %>
    </div>
    <div>
        <%= link_to  "DELETE PROFILE", user_path,:method => :delete, :data => {:confirm => "You sure?"},
                                    :title => "Delete #{current_user.name}",class: "btn btn-danger" %>
    </div>
</div>
<div class="user_info">
    <h2> See all the categories and choose your favourites: <h2> 
     <%= link_to  "Categories", categories_path, class: "btn btn-warning" %>
    <%= link_to  "Your Favourites Categories", fav_categories_path, class: "btn btn-warning" %>
</div>
<!--TODO aggiungi ruolo guida-->
<%if !current_user.admin%> 
    <div class="user_add">
    <h1> Add new friends</h1>
    <h5> <cite>Good friends know the exact number of drinks you can handle before you makes poor choices. </cite>&#x1F609</h5>
    <a href="" class="btn btn-success"> Find friends </a>
    </div>
<% end %>
