<h1> CHANGE SOMETHING ABOUT  GATHERING <%= @gathering.id %> <h1>

<%= form_tag :action => 'update_location' do %>
    <p>
    
        <h5> CHANGE THE DATE: <h5>
        <%= date_field(:gathering, :date) %>

        <h5> ADD A FRIEND:<h5>
        <% @current_user.friends.each do |friend| %>
            <% if (!@gathering.users.include?(friend)) %> 
                <%= check_box_tag 'adduser[]', friend.id -%>
            <%= friend.name -%>
            <% end %> 
        <% end %> 

        <h5> DELETE PARTECIPANTS:<h5>
        <% @gathering.users.each do |user| %>
                <%= check_box_tag 'deleteuser[]', user.id -%>
                <% if user != @current_user%>
                    <%= user.name -%>
                <%else%>
                    You
                <% end  %>
            <br>
        <% end %> 
    

    <h5> EDIT YOUR PARTY:<h5>
    <%= hidden_field_tag "id", @gathering.id %>
    <%= submit_tag "Edit party"%>
<% end %>
<br>

<%= link_to gatherings_path do %>
   <button> GoBack </button>
<% end %>
