<h1> CHANGE SOMETHING ABOUT  GATHERING <%= @gathering.id %> <h1>

<% form_tag gathering_path(@gathering), :method => :put do %>

<% end -%>
<p>
    <h5> ADD A FRIEND:<h5>
    <% @current_user.friends.each do |friend| %>
        <input type="checkbox" name="amico"> <%=friend.name%>
    <% end %> 

     <h5> DELETE A FRIEND:<h5>
    <% @gathering.users.each do |user| %>
        <input type="checkbox" name="invitato"> <%=user.name%>
    <% end %> 

    <h5> CHOOSE ANOTHER LOCATION:<h5>
        <%= link_to "Generate matching locations", gatherings_new_generate_locations_path %>
</p>
<%= submit_tag "Save" %>

<%= button_to "GoBack",  gatherings_path %>