<h1> THESE ARE ALL LOCATIONS MATCHING WITH PARTECIPANTS </h1>
<%= form_tag gatherings_path(), method: 'POST' do %>
    <table>
    <thead>
        <tr>
        <th colspan="1"></th>
        </tr>
    </thead>
    
    <tbody>
        <% @matching_loc.each do |loc| %>
        <tr>
            <td><%= loc.name %>  &nbsp;</td>
            <td><%= link_to "showlocation", location_path(loc) %> &nbsp;</td>
            <td><%= check_box_tag 'location', loc.id-%> </td>
        </tr>
        <% end %>
    </tbody>
    </table>
    <%= hidden_field_tag  :date, @date %>
    <% @partecipants.each do |part| %>
        <%= hidden_field_tag "partecipants[]", part %>
    <% end %> 
    <p>
        <%= submit_tag "Continue"%>
    <p>
<% end %>
    
