<h1> CREATE A NEW GATHERING </h1>
<br>

<%= form_tag :action => 'generate_locations' do %>
    <p>
        <h5> CHOOSE THE DATE: <h5>
        <%= date_field  :date, :required => true%>
    </p>

    <br>

    <p>
        <h5> CHOOSE WHO YOU WANT TO INVITE: <h5>
        <% @current_user.friends.each do |friend| %>
            <%= check_box_tag 'partecipants[]', friend.id -%>
            <%= friend.name -%>
        <% end %>
    </p>

    <br>

    <p>
        <h5> CHOOSE THE LOCATION: <h5>
         <%= submit_tag "Generate matching locations"%>
    </p>
<% end -%>

<%= link_to gatherings_path do %>
   <button> GoBack </button>
<% end %>
