<h1> THIS IS THE GATHERING <%= @gathering.id %> <h1>

<p>
    <h5> LOCATION: <h5> 
    <%= @gathering.location.name %>
</p>
<br>
<p>
    <h5> DATE: <h5>
    <%= @gathering.date.strftime("%Y-%m-%d") %>
</p>
<br>
<p>
    <h5> ALL PARTECIPANTS: <h5>
    <% @gathering.users.each do |user| %>
        <% if user != @current_user%>
            <%= user.name %>
            <br>
        <%else %>
            You
            <br>
        <% end  %>
    <% end %>
</p>
<br>
<br>
<br>
<%= link_to "Edit", edit_gathering_path(@gathering) %>
<br>
<%= link_to "Destroy", gathering_path(@gathering), method: :delete, data: { confirm: "Are you sure?" } %>
<br>
<%= link_to gatherings_path do %>
   <button> GoBack </button>
<% end %>
