
<h1> LIST OF ALL CATEGORIES: </h1>
<br>
<table>
  <thead>
    <tr>
      <th>Categories</th>
      <th colspan="1"></th>
    </tr>
  </thead>
 
  <tbody>
    <%if current_user.is_user?%>
      <h2><label for = 'cat'>Choose your favourites categories:</label></h2>
    <%end%>
    <%= form_tag :action => 'create_fav_categories' do %>

    <% if !@categories.empty? %>
    <% @categories.each do |cat| %>
      <tr>
        <%if current_user.is_user?%>       
          <td><%= check_box_tag 'categ[]', cat.id %></td>
        <%end%>
        <td><%=  cat.name -%>&nbsp;</td>
          <td><%= link_to "Show", cat %>&nbsp; </td>
          <%if current_user.is_admin?%> 
          <td><%= link_to "Edit", edit_category_path(cat) %>&nbsp; </td>
          <td><%= link_to "Destroy", cat, method: :delete, data: { confirm: "Are you sure?" } %></td>
          <td> <hr> </td>
        <%end%>
      </tr>
    <% end %>
    <% else %>
    <br/>
    <%= @noCats %>
  <%end%>
  </tbody>
</table>
  <%if current_user.is_user?%>   
    <%= submit_tag "Add Categories" %>
  <%end%>
<% end -%>

<br>
<%if current_user.is_user?%>   
<h2> See your favourites categories here: </h2>
<%= link_to  "Your Favourites Categories", create_fav_categories_path %>
<%end%>


<br>
 <hr>
  <%if current_user.is_admin?%>   
    <%= link_to "New category", new_category_path %>
  <%end%>
