<h1>Edit a location</h1>

<%= form_tag :location, :url => {:action => 'update', :id => @update_loc.id},
  :method => 'put' do %>
<p><label for="name">Name of location:</label>

<%= text_field 'locations', 'name' , value: @update_loc.name%></p>
<p><label for = "long">Long</label>:

<%= text_field 'locations', 'long', value: @update_loc.long %></p>
<p><label for = "lat">Lat</label>:

<%= text_field 'locations', 'lat' , value: @update_loc.lat %></p>

<p><label for = "lat">Link Photo</label>:

<%= text_field 'locations', 'foto',  value: @update_loc.foto %></p>

<p><label>Categoria</label>
<ul>
  <% @categories.each do |cat| %>
      <li>
        <% if @cats.include? cat %>
          <%= check_box_tag 'categ[]', cat.id, true %>
          <%=  cat.name %>
        <% else %>
          <%= check_box_tag 'categ[]', cat.id %>
          <%=  cat.name %>
        <% end %>
        
      </li>
  <% end %>
</ul>



<%= submit_tag "Update" %>

<% end -%>
<br/>
<%= link_to "Home Locations", locations_path %>