<h1>Modifica un locale</h1>

<%= form_tag :location, :url => {:action => 'update', :id => @update_loc.id},
  :method => 'put' do %>
<p><label for="name">Nome locale:</label>

<%= text_field 'locations', 'name' , value: @update_loc.name%></p>
<p><label for = "long">Longitutine</label>:

<%= text_field 'locations', 'long', value: @update_loc.long %></p>
<p><label for = "lat">Latitudine</label>:

<%= text_field 'locations', 'lat' , value: @update_loc.lat %></p>

<p><label for = "lat">Link Foto</label>:

<%= text_field 'locations', 'foto',  value: @update_loc.foto %></p>

<p><label>Categoria</label>
<ul>
<%if !@categories.empty?%>
  <% @categories.each do |cat| %>
      <li>
        <% if @cats.include? cat %>
          <%= check_box_tag 'categ[]', cat.id, true %>
          <%=  cat.name %>
        <% else %>
          <%= check_box_tag 'categ[]', cat.id %>
          <%=  cat.name %>
        <% end %>
      </li>
  <% end %>
</ul>

<%else%>
<h3>Non vi sono categorie</h3>
<%end%>
<br/>
<h4>Status:</h4>
  <% @status_array.each do |s| %>
    <% if s == @update_loc.status %>
      <%= radio_button_tag(:status, s, true)%>
    <% else %>
      <%= radio_button_tag(:status, s)%>
    <% end %>
    <%=  s %>
    <br/>
  <% end %>


<br/>
<%= submit_tag "Update" %>
<br/>
<% end -%>
<br/>
<%= link_to "Home Locations", locations_path %>
<br/>
<% if $admin %>
<%= link_to "Home Locations Admin", index_admin_path %>
<%end%>