<h1>Add a location</h1>

<%= form_tag :action => 'create' do %>
<p><label for="name">Name of location:</label>

<%= text_field 'locations', 'name', required: true%></p>

<!-- l'utente inserisce la via del locale, la città e il paese e Open Street Map trova long e lat-->

<p>
  <label for="street">Street:</label>
  <%= text_field 'locations','street',required: true%>
  <label for="city">City:</label>
  <%= text_field 'locations','city',required: true%>

</p>

<p><label for = "foto">Link Photo</label>:

<%= text_field 'locations', 'foto' %></p>

<p><label for = 'cat'>Category</label>
<ul>
  <% if !@categories.empty? %>
    <% @categories.each do |cat| %>
        <li>
          <%= check_box_tag 'categ[]', cat.id -%>
          <%=  cat.name -%>
        </li>
    <% end %>
  <% else %>
    <br/>
    <%= @noCats %>
  <%end%>
</ul>

<%= submit_tag "Create" %>

<% end -%>
